.add-top {
    padding-top: .6rem;
    // padding-bottom:.53rem; 
    width: 100%;
    height: 100%;
}

.back-top {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    width: .48rem;
    height: .48rem;
    line-height: .48rem;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    right: .25rem;
    bottom: .8rem;
    cursor: pointer;
    // overflow: hidden;
    z-index: 100;
    i {
        font-size: 32px;
    }
}

.icon {
    width: .6rem;
    text-align: center;
    i {
        color: #333;
        font-size: .28rem;
        vertical-align: middle;
    }
}

.icon-back {
    width: 1rem;
    color: #333;
    vertical-align: middle;
    margin-left: .2rem;
    i {
        font-size: .2rem !important;
    }
}

.public-head {
    width: 100%;
    height: .6rem;
    line-height: .6rem;
    background: #fff;
    position: fixed;
    top: 0;
    color: #333;
    @include flexbox();
    @include justify-content(space-between);
    z-index: 9;
    .choose {
        @include flex();
        text-align: center;
        // padding-left: .6rem;
        font-size: 16px;
        i {
            font-size: .2rem;
        }
    }
    .goleft {
        @include flex();
        text-align: center;
        font-size: 16px;
        margin-right: .6rem;
        i {
            font-size: .2rem;
        }
    }
    .memu {
        font-size: .2rem;
    }
    .public-right {
        @include flexbox();
        width: 1.2rem;
        a {
            display: block;
        }
    }
}

.public-menu {
    border: 1px solid #e1e1e1;
    font-weight: bold;
    background: #fff;
    position: fixed;
    top: .6rem;
    right: .05rem;
    // padding: .1rem .3rem .1rem .2rem;
    a {
        display: block;
        width: 1.47rem;
        height: .46rem;
        line-height: .46rem;
        color: #999;
        i {
            font-size: 22px;
            vertical-align: middle;
            padding: 0 .1rem 0 .25rem;
        }
        // text-align: center;
    }
    &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: 6px inset;
        border-color: transparent transparent #e1e1e1;
        border-bottom-style: solid;
        position: absolute;
        top: -12px;
        right: .17rem;
        z-index: 89;
    }
}