.add-top {
    padding-top: .6rem;
    // padding-bottom:.53rem; 
    width: 100%;
    height: 100%;
}

.back-top {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    width: .48rem;
    height: .48rem;
    line-height: .48rem;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    right: .25rem;
    bottom: .8rem;
    cursor: pointer;
    // overflow: hidden;
    z-index: 100;
    i {
        font-size: 32px;
    }
}

.icon {
    width: .6rem;
    text-align: center;
    i {
        color: #333;
        font-size: .28rem !important;
        vertical-align: middle;
    }
}

.public-head {
    width: 100%;
    height: .6rem;
    line-height: .6rem;
    background: #fff;
    position: fixed;
    top: 0;
    color: #333;
    @include flexbox();
    @include justify-content(space-between);
    z-index: 9;
    .choose {
        @include flex();
        text-align: center;
        padding-left: .6rem;
        font-size: 16px;
        i {
            font-size: .2rem;
        }
    }
    .goleft {
        @include flex();
        text-align: center;
        font-size: 16px;
        i {
            font-size: .2rem;
        }
    }
}